@charset "UTF-8";
/* CSS Document */

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Quicksand', sans-serif;
}

.grant {
	height: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

html {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #3ab34e 0%, #27aae1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#3ab34e), color-stop(100%,#27aae1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#3ab34e 0%,#27aae1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#3ab34e 0%,#27aae1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#3ab34e 0%,#27aae1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#3ab34e 0%,#27aae1 100%); /* W3C */
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	width: 100%;
  	background-position: 0px 0px;
}

body {
    margin-top: 75px;
  margin-bottom: 0px;
}

h1 {
	font-family:'Quicksand', sans-serif;
	text-align: center;
	font-size: 26px;
}

h2 {
	font-family:'Quicksand', sans-serif;
	text-align: center;
	font-size: 18px;
}

a:link { 
	font-family:'Quicksand', sans-serif;
	color:rgb(0,0,0);
	display:block;
	text-align:center;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.socialmedia {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}

.socialmedia ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    padding: 0px;
    overflow: hidden;
}

.socialmedia li{
    padding: 2px;
	height: 50px;
    display:inline-block;
}

.twitter {
	background-repeat: no-repeat;
	background-image:url(../img/twitter.svg);
	background-size: 100%;

}

*{ height:inherit;
}

.dribbble { 
	background-repeat: no-repeat;
	background-image:url(../img/dribbble.svg);
	background-size: 100%;
}

.behance {
	background-repeat: no-repeat;
	background-image:url(../img/behance.svg);
	background-size: 100%;
}



@media (min-width: 400px) {

	.grant { 
		height: 300px;
	}
	
	h1 {
		font-size: 32px;
	}
	
	h2 {
		font-size: 18px;
	}
	
	.socialmedia li {
		height: 70px;
	}
	
	a { 
		font-size: 18px;
	}

}

@media (min-width: 700px) { 

	.grant { 
		height: 400px;
	}
	
	h1 {
		font-size: 46px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	a {
		font-size: 22px;
	}
	
	body {
		margin-top: 110px;
	}
	
	.socialmedia li {
		height: 90px;
	}

}

@media (min-width: 1200px) {

	.grant {
		height: 500px;
	}
	
	h1 {
		font-size: 60px;
	}
	
	h2 {
		font-size: 36px;
	}
	
	a {
		font-size: 36px;
	}
	
	body {margin-top: 50px;
	}

}

@media (min-width: 1600px) {
	
		body {
			margin-top: 200px;
			padding-right: 15%;
		}
		
		h1 {
			padding-top: 75px;
			
	}
		.grant { 
		float:left;
		margin-left: 20%;
		
		}
}

@media (min-width: 1900px) {
	
	.grant {
		margin-left: 25%;
	}
}